<section id="schedule" class="schedule container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card my-3">
        <div class="card-body">
          <h3 class="card-title text-center text-uppercase">
            <b>{{ i18n "schedule" }}</b>
          </h3>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">22</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">{{ .Site.Params.venue.name }}</th>
                    <td class="scheduled-notes">
                      {{- with .Site.Params.venue }}
                        {{- with .coords }}
                          <a href="https://www.openstreetmap.org/#map=16/{{ .latitude }}/{{ .longitude }}" target="_blank">
                        {{ end }}
                        <b>{{ .street }}<br/>{{ .zipcode }} {{ .city }}</b>
                        <i class="fa fa-map-marker"></i>
                        {{- with .coords }}
                          </a>
                        {{ end }}
                      {{ end }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      17:00
                    </th>
                    <td>
                      Open doors
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:00
                    </th>
                    <td>
                      Introduction to #MakeZurich
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:15
                    </th>
                    <td>
                      Presentation of the 7 challenges
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      19:00
                    </th>
                    <td>
                      Team registrations and Q&amp;A sessions with challenge stakeholders, sponsors and partners.
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      19:45-23:00
                    </th>
                    <td>
                      Apéro 🍸
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">23</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">MechArtLab</th>
                    <td class="scheduled-notes">
                      <a href="https://www.openstreetmap.org/#map=16/47.3778108/8.5256834" target="_blank">
                        <b>Hohlstrasse 52
                          <br/> 8004 Zürich</b>
                        <i class="fa fa-map-marker"></i>
                        </i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      16:00-22:00
                    </th>
                    <td>
                      Open Lab Day: join if you need tools, a place to hack or simply want to chat!
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">24</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">25</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes"></td>
                  </tr>
                  <tr>
                    <th>
                      19:00-22:00
                    </th>
                    <td>
                      Build your own antenna/quality measurement of antenna<br>
                      <a href="https://twitter.com/ursmii" target="_blank">Workshop by <b>Urs Marti</b></a>
                    </td>
                    <td>Attendees bring their own stuff</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">26</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">27</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">28</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes"></td>
                  </tr>
                  <tr>
                    <th>
                      19:00-22:00
                    </th>
                    <td>
                      Build your own LoRaWAN gateway<br>
                      <a href="https://twitter.com/gnz" target="_blank">Workshop by <b>Gonzalo Casas</b></a>
                    </td>
                    <td>Attendees bring their own parts</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">29</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">{{ .Site.Params.venue.name }}</th>
                    <td class="scheduled-notes">
                      {{- with .Site.Params.venue }}
                        {{- with .coords }}
                          <a href="https://www.openstreetmap.org/#map=16/{{ .latitude }}/{{ .longitude }}" target="_blank">
                        {{ end }}
                        <b>{{ .street }}<br/>{{ .zipcode }} {{ .city }}</b>
                        <i class="fa fa-map-marker"></i>
                        {{- with .coords }}
                          </a>
                        {{ end }}
                      {{ end }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      09:00
                    </th>
                    <td>
                      Open doors
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      10:00
                    </th>
                    <td>
                      Did you miss the kick-off and need a team? Pitch your idea, or team up with others!
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      12:00
                    </th>
                    <td>
                      Lunch
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:30
                    </th>
                    <td>
                      Dinner
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      19:00-19:30
                    </th>
                    <td>
                      Visualizing Linked Data with d3.js<br>
                      <a href="https://twitter.com/mmznr" target="_blank">Session by <b>Matthias Mazenauer</b></a>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      23:59
                    </th>
                    <td>
                      Realtime code art<br>
                      <a href="https://blog.datalets.ch/010/" target="_blank">Demoshow by <b>Oleg Lavrovsky</b></a>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text">30</div>
                <div>
                  <b>June</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">Kraftwerk</th>
                    <td class="scheduled-notes">
                      <a href="https://www.openstreetmap.org/#map=16/47.3722277/8.53201869999993" target="_blank">
                        <b>Selnaustrasse 25
                          <br/> 8001 Zürich</b>
                        <i class="fa fa-map-marker"></i>
                        </i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      09:00
                    </th>
                    <td>
                      Breakfast
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      12:00
                    </th>
                    <td>
                      Pizza 🍕!
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      15:30
                    </th>
                    <td>
                      Final submission time!
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      16:00
                    </th>
                    <td>
                      Project presentations
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:00
                    </th>
                    <td>
                      Apéro
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      19:00
                    </th>
                    <td>
                      End-Of-Event
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
