<section id="schedule" class="schedule container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card my-3">
        <div class="card-body">
          <h3 class="card-title text-center text-uppercase">
            <b>{{ i18n "schedule" }}</b>
          </h3>

          <div class="row done">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Sun</small> 9</div>
                <div>
                  <b>Feb</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      10:00-17:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-sao" class="workshop"></a>
                      <i>Pre-event workshop</i><br/><a href="#workshop-sao">Make your own shitty addon</a>, by <a href="https://twitter.com/morgulbrut" target="_blank"><b>Tillo Bosshart</b></a><br/>
                      <small>Learn to design your own electronic circuit!
                        Join us to create your personal "shitty add-on" extension
                        to our electronic conference badge.
                        Bring your laptop and make sure you installed KiCad and Inkscape.<br/>
                        <a href="https://github.com/morgulbrut/kicadWorkshop" class="text-primary" target="_blank">Read more here</a></small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      <a href="https://www.openstreetmap.org/#map=16/47.3839406/8.5098687" target="_blank">
                        <b>FabLab Zürich</b><br/><b>Zimmerlistrasse 6<br/>8004 Zürich</b>
                        <i class="fa fa-map-marker"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Fri</small> 23</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">
                      <mark>Kick-off</mark> at
                      {{- with .Site.Params.venue }}
                        {{- with .coords }}
                          <a href="https://www.openstreetmap.org/#map=16/{{ .latitude }}/{{ .longitude }}" target="_blank">
                        {{ end }}
                          {{ .name }}
                        </a>
                      {{ end }} 🎬🚀
                    </th>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      {{- with .Site.Params.venue }}
                        {{- with .coords }}
                          <a href="https://www.openstreetmap.org/#map=16/{{ .latitude }}/{{ .longitude }}" target="_blank">
                        {{ end }}
                        <b>{{ .street }}<br/>{{ .zipcode }} {{ .city }}</b>
                        <i class="fa fa-map-marker"></i>
                        {{- with .coords }}
                          </a>
                        {{ end }}
                      {{ end }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      17:00
                    </th>
                    <td>
                      Open doors
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:00
                    </th>
                    <td>
                      Introduction to #MakeZurich
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:15
                    </th>
                    <td>
                      Presentation of challenges
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      19:00
                    </th>
                    <td>
                      Team registrations and Q&amp;A sessions with challenge stakeholders, sponsors and partners.
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      <span class="white-space: nowrap;">19:45-</span>23:00
                    </th>
                    <td>
                      🍻🍸 Apéro
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Sat</small> 24</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title"><mark>Open Lab Week</mark> at SmartCity-Lab</th>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      <a href="https://www.openstreetmap.org/#map=16/47.386689/8.5028455" target="_blank">
                        <b>Hohlstrasse 400<br />8048 Zürich</b>
                        <i class="fa fa-map-marker"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      13:00-15:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-openthings" class="workshop"></a>
                      <i>Workshop</i><br/>
                      <a href="#workshop-openthings">OpenThings! - The last mile to your things</a>, by <a href="https://priot.ch/" target="_blank"><b>PRiOT</b></a><br/>
                      <small>Already wondered how to bring your IoT device data out of the internet? Then, this hands-on fits perfectly to you.
                      OpenThings! is a new initiative to provide you a simple way to publish your IoT data to the public, friends and even
                      customers. Let's professionally visualize your thing on your cloud based dashboard within the time of a wink.</small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      16:00-18:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-ideation" class="workshop"></a>
                      <i>Workshop</i><br/>
                      <a href="#workshop-ideation">Shape your idea through technology & design 🚀</a>, by <a href="https://www.brudi.com/" target="_blank"><b>brudi</b></a> & <a href="https://co-co-co.org/" target="_blank"><b>co-co-co</b></a><br/>
                      <small>Together we work on your ideas. For which target group are you creating your solution? When is it used, and what needs
                      will it serve? How will it benefit communities? We show you methods on how to answer these questions. By bringing in a
                      design perspective we help you to evoke different perspectives on the challenges. Join our short but intense worksession
                      and kickstart your project.</small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day<br/>
                      <small>Do you need tools or a place to work? Or simply want to hang out and chat about life, the universe and everything?
                      The lab days are optional and available for those that need it.</small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Sun</small> 25</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Mon</small> 26</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      16:00-18:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-ux-toolkit" class="workshop"></a>
                      <i>Workshop</i><br/>
                      <a href="#workshop-ux-toolkit">UX toolkit workshop</a>, by <a href="https://twitter.com/Hetepheres_com" target="_blank"><b>Francesca Sanfilippo</b></a><br/>
                      <small>Some useful tips to organise your team, prototyping and test with the Design Thinking method and design sprint.
                      </small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      19:00-22:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-lorawan" class="workshop"></a>
                      <i>Workshop</i><br/>
                      <a href="#workshop-lorawan">Crash course: LoRaWAN and The Things Network</a>, by <a href="https://twitter.com/gnz" target="_blank"><b>Gonzalo Casas</b></a><br/>
                      <small>What is LoRaWAN? Think of it as WiFi for sensors! In this workshop, you will learn
                        all about LoRaWAN, and how to develop a simple sensor that sends data to the Internet
                        via the free/open <a href="https://thethingsnetwork.org" target="_blank">The Things Network</a>.
                      </small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Tue</small> 27</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Wed</small> 28</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Thu</small>29</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Fri</small> 30</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">
                      <mark>Main Event</mark> at
                      {{- with .Site.Params.venue }}
                        {{- with .coords }}
                          <a href="https://www.openstreetmap.org/#map=16/{{ .latitude }}/{{ .longitude }}" target="_blank">
                        {{ end }}
                          {{ .name }}
                        </a>
                      {{ end }} 🐝🐱‍💻
                    </th>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      {{- with .Site.Params.venue }}
                        {{- with .coords }}
                          <a href="https://www.openstreetmap.org/#map=16/{{ .latitude }}/{{ .longitude }}" target="_blank">
                        {{ end }}
                        <b>{{ .street }}<br/>{{ .zipcode }} {{ .city }}</b>
                        <i class="fa fa-map-marker"></i>
                        {{- with .coords }}
                          </a>
                        {{ end }}
                      {{ end }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      09:00
                    </th>
                    <td>
                      Open doors
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      10:00
                    </th>
                    <td>
                      Welcome session
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      12:00
                    </th>
                    <td>
                      Lunch
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:00
                    </th>
                    <td>
                      Dinner
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      21:00
                    </th>
                    <td>
                      <a name="workshop-demoshow" class="workshop"></a>
                      <a href="#workshop-demoshow">Demoshow / Realtime code art</a><br>
                      <a href="https://demonights.ch/" target="_blank">feat. Echtzeit Digitale Kultur x MakeZurich by <b>soda</b>, <b>pan</b> and <b>unlock</b></a>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Sat</small> 31</div>
                <div>
                  <b>Oct</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>
                      09:00
                    </th>
                    <td>
                      Breakfast
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      12:00
                    </th>
                    <td>
                      Lunch
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      14:00
                    </th>
                    <td>
                      <a name="workshop-kids" class="workshop"></a>
                      <i>Workshop for kids</i><br/>
                      <a href="#workshop-kids">Code your first computer game</a>, by <a href="https://www.logiscool.com/ch-en/school/zurich" target="_blank"><b>Logiscool</b></a><br/>
                      <small>Together with dedicated coaches, kids aged 7-16 can code their first computer game using Scoolcode, Logiscool's own learning platform.
                      In the workshop they can recognise that coding is fun, and experience their quick success, which
                      can be a good start for growing their future interest in programming.</small>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      15:30
                    </th>
                    <td>
                      Final submission time!
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      16:00
                    </th>
                    <td>
                      Project presentations
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:00
                    </th>
                    <td>
                      Apéro
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
