<section id="schedule" class="schedule container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card my-3">
        <div class="card-body">
          <h3 class="card-title text-center text-uppercase">
            <b>{{ i18n "schedule" }}</b>
          </h3>

<!--
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Sun</small> 9</div>
                <div>
                  <b>Feb</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      10:00-17:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-sao" class="workshop"></a>
                      <i>Pre-event workshop</i><br/><a href="#workshop-sao">Make your own shitty addon</a>, by <a href="https://twitter.com/morgulbrut" target="_blank"><b>Tillo Bosshart</b></a><br/>
                      <small>Learn to design your own electronic circuit!
                        Join us to create your personal "shitty add-on" extension
                        to our electronic conference badge.
                        Bring your laptop and make sure you installed KiCad and Inkscape.<br/>
                        <a href="https://github.com/morgulbrut/kicadWorkshop" class="text-primary" target="_blank">Read more here</a></small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      <a href="https://www.openstreetmap.org/#map=16/47.3839406/8.5098687" target="_blank">
                        <b>FabLab Zürich</b><br/><b>Zimmerlistrasse 6<br/>8004 Zürich</b>
                        <i class="fa fa-map-marker"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr/>
-->
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Fri</small> 2</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">
                      <mark>Kick-off</mark>  🚀
                    </th>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      <a href="https://www.openstreetmap.org/way/99294722#map=18/47.40895/8.54942" target="_blank">
                        <b>ewz HQ<br /> Tramstrasse 35<br />8050 Zürich</b>
                        <i class="fa fa-map-marker"></i><br/>
                        <a href="https://zoom.us/j/61121782893" class="meet-invite">Live stream</a> 🎦
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      17:00
                    </th>
                    <td>
                      Open doors
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:00
                    </th>
                    <td>
                      Introduction to #MakeZurich
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:15
                    </th>
                    <td>
                      Presentation of challenges
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      18:45
                    </th>
                    <td>
                      Q&amp;A session &amp; Apero 🍸
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Sat</small> 3</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title"><mark>Open Lab Week</mark> @ Bitwäscherei</th>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      <a href="https://www.openstreetmap.org/#map=19/47.38692/8.52026" target="_blank">
                        <b>Bitwäscherei<br /> Neue Hard 12<br />8005 Zürich</b>
                        <i class="fa fa-map-marker"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      16:00-17:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-ux-toolkit" class="workshop"></a>
                      <a href="#workshop-ux-toolkit">UX toolkit workshop</a> by <a href="https://twitter.com/Hetepheres_com" target="_blank"><b>Francesca Sanfilippo</b></a><br/>
                      <small>Some useful tips to organise your team, prototyping and test with the Design Thinking method and design sprint.
                      </small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      <a href="https://zoom.us/j/63314669953" target="_blank">Live stream 🔄</a>
                    </td>
                  </tr>

                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day<br/>
                      <small>Do you need tools or a place to work? Or simply want to hang out and chat about life, the universe and everything?
                      The lab days are optional and available for those that need it.</small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">Bitwäscherei</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Sun</small> 4</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">Bitwäscherei</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Mon</small> 5</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">Bitwäscherei</td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      19:00-20:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-ux-toolkit" class="workshop"></a>
                      <a href="#workshop-ux-toolkit">Technology and development of the world's smallest photoacoustic CO2 sensor SCD4x</a> by <a target="_blank"><b>Thomas Uehlinger</b> (Sensirion)</a><br/>
                      <small>The story of how Sensirion approached the development of
                        this revolutionary small CO2 sensor from the very first self-assembled prototypes to a sensor produced in millions per year.
                        Measurement principle and core technological innovations that were of the essence to make this product feasible at all.
                      </small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      Bitwäscherei<br/>
                      <a href="https://zoom.us/j/68282627009" target="_blank">Live stream 🔄</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Tue</small> 6</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">Bitwäscherei</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Wed</small> 7</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-17:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-biometrics" class="workshop"></a>
                      <a href="#workshop-biometrics">Quantified node workshop</a> by <a href="https://fosstodon.org/@loleg" target="_blank"><b>Oleg Lavrovsky</b></a><br/>
                      <small>Make your own data selfie with a biometric sensor demo. Learn how to quickly visualize and share signals on our platforms, and let's reach for the stars inside at MakeZurich!
                      </small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      Bitwäscherei +
                      <a href="https://meet.hostpoint.ch/ttn-makezurich" target="_blank">Livestream</a> 🎦
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">Bitwäscherei</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Thu</small>8</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      16:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Open Lab Day
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">Bitwäscherei</td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      17:00-19:00
                    </th>
                    <td class="scheduled-title">
                      <a name="workshop-ewz-cs" class="workshop"></a>
                      <a href="#workshop-ewz-cs">Visit of ewz Central Station</a><br/>
                      <small>Explore the energy of heating and cooling of big buildings. Learn about IoT use cases of groundwater monitoring, visit the VBZ Green Roof and Smart City Lab. We meet in front of the Renaissance Zürich Tower Hotel.</small>
                    </td>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      Turbinenstrasse 20<br>8005 Zürich
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Fri</small> 9</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">
                      <mark>Main Event: Friday</mark> 👍
                    </th>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      <a href="https://www.openstreetmap.org/way/99294722#map=18/47.40895/8.54942" target="_blank">
                        <b>ewz HQ<br /> Tramstrasse 35<br />8050 Zürich</b>
                        <i class="fa fa-map-marker"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      09:00
                    </th>
                    <td>
                      Gipfeli & Coffee ☕
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      10:00
                    </th>
                    <td>
                      Welcome
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      10:30
                    </th>
                    <td>
                      Team building #1
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      12:00
                    </th>
                    <td>
                      Lunch
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      17:00
                    </th>
                    <td>
                      Team building #2
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      21:00
                    </th>
                    <td>
                      <a name="workshop-demoshow" class="workshop"></a>
                      <a href="#workshop-demoshow">Demo Nights 017: Realtime code art</a>
                    </td>
                    <td>
                      <a href="https://www.twitch.tv/Demonights" class="meet-invite">Live stream</a> 🎦
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Sat</small> 10</div>
                <div>
                  <b>Jun</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time"></th>
                    <th class="scheduled-title">
                      <mark>Main Event: Saturday</mark> ✌🏽
                    </th>
                    <td class="scheduled-notes d-none d-lg-table-cell">
                      <a href="https://www.openstreetmap.org/way/99294722#map=18/47.40895/8.54942" target="_blank">
                        <b>ewz HQ<br /> Tramstrasse 35<br />8050 Zürich</b>
                        <i class="fa fa-map-marker"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      09:00
                    </th>
                    <td>
                      Breakfast ☕
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      10:00
                    </th>
                    <td>
                      Team building #3
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      12:00
                    </th>
                    <td>
                      Lunch
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      14:00
                    </th>
                    <td>
                      Pitch coaching
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      15:30
                    </th>
                    <td>
                      Final submission time!
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>
                      16:00
                    </th>
                    <td>
                      Project presentations 🚀
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <th>
                      18:00
                    </th>
                    <td>
                      Apero 🍸
                    </td>
                    <td>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
