/* Local styles */

.schedule .event-primary-text small {
  font-size: 0.7rem;
  position: absolute;
  transform: rotate(-90deg);
  margin-left: -15px;
  margin-top: 8px;
}

.schedule .done {
  opacity: 0.4;
}

.workshop {
  display: block;
  position: relative;
  top: -80px;
}

/* COVID */

.covid-protection .card-body {
  justify-content: center;
  background-color: #ff9100;
  border-radius: 0.25rem;
}

.covid-protection h3 {
  color: white;
}

.covid-protection .figure {
  width: 100px;
  margin: 1rem 0.5rem;
}

.covid-protection .figure img {
  width: 100px;
}

.covid-protection figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: white;
}
