/* Local styles */

.schedule .event-primary-text small {
  font-size: 0.7rem;
  position: absolute;
  transform: rotate(-90deg);
  margin-left: -15px;
  margin-top: 8px;
}

.schedule .done {
  opacity: 0.4;
}

.workshop {
  display: block;
  position: relative;
  top: -80px;
}

/* COVID */

.covid-protection .card-body {
  justify-content: center;
  background-color: #ff9100;
  border-radius: 0.25rem;
}

.covid-protection h3 {
  color: white;
}

.covid-protection .figure {
  width: 100px;
  margin: 1rem 0.5rem;
}

.covid-protection .figure img {
  width: 100px;
}

.covid-protection figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: white;
}

.tech-specs table {
  display: block;
  overflow: auto;
  height: 500px;
  white-space: nowrap;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  margin: 1em auto;
}

.tech-specs a:hover {
  text-decoration: underline;
}

.tech-specs table td, .tech-specs table th {
  padding: 20px;
}

.tech-specs table td {
  vertical-align: middle;
}

.tech-specs table th {
  background-color: #0275d8;
  color: white;
  font-weight: 300;
}

.tech-specs table tr:nth-child(2n) {
  background-color: white;
}

.tech-specs table tr:nth-child(2n+1) {
  background-color: #e5f1fc;
}

.tech-specs table tr {
  transition: all 0.25s ease;
}

.tech-specs table tr:hover {
  background: #e8ebeb;
}

.tech-specs table tr:hover td {
  color: black;
}

.tech-specs ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.tech-specs ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tech-specs ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
