@import url(https://makezurich.ch/css/bundle.min.9928a633008d91c9c464e64f18be39ac3b0ae84ccf389d5eb770c4c7a1bad2dd.css);

/* -----------------
General theme tweaks
-------------------- */

body .project-buttons .btn-lg,
body .btn-group .btn-lg { border: 1px solid transparent; }
body .btn-secondary { background-image: none; }
body .btn-group .btn-secondary:hover { background-color: #a6c !important; }
body .btn.btn-light { color: black !important; }

.darkmode { display: none; } /* sorry!.. */

/* -----------------
Event pages
-------------------- */

.project-home .community-embed,
.event-home .container.with-event {
  background: white;
  border-radius: 1em;
  padding: 1em;
}

.challenge.hexagon .hexagontent {
  color: #009;
  font-weight: bold;
}

.nav-categories label span { 
  color: black !important; 
}

/* -----------------
Projects and posts
-------------------- */

#project-post {
  margin: 0px !important;
  background: #ccc !important;
  border: 1px solid #ccc;
  color: black !important;
}

.sso-login .btn,
.project-page.jumbotron .btn {
  color: black !important;
  padding: 0px;
  box-shadow: none;
}

.userprofile .profile-text {
  background: white;
}

.project-page.jumbotron .btn.btn-light {
  padding: 0.5em 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border: 1px solid aliceblue;
}
.project-page.jumbotron .btn.btn-light:hover {
  border-color: black;
  box-shadow: none;
}

/* ------------
Code of Conduct
--------------- */
.codeofconduct { margin-top:20px; padding:10px; border-radius:10px; box-shadow: 
		0 0 0 4px orange,
		0 0 0 6px yellow,
		0 0 0 10px cyan; }


/* -----------------
Footer styles
-------------------- */

.footer-block {
  background-color: white;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer .footer-nav a { color: white; }
#footer {
  background: rgba(0,0,0,0.5);
  padding: 1em;
}